<ion-view>
  <ion-content ng-init="toto = 0">
    <div class="list">
      <a class="item item-icon-left item-icon-right" href="#/app/events/evenement" style="padding-left:16px;">
        <div class="menu-item-col-left">
          <img src="../img/export/IcoSaison.png" class="menu-item-img"/>
        </div>
        <div class="menu-item-col-right">
          Bouquets de saison
        </div>
        <i class="icon ion-chevron-right menu-item-chevron"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/events/amour" style="padding-left:16px;">
        <div class="menu-item-col-left">
          <img src="../img/export/IcoRomantic.png" class="menu-item-img"/>
        </div>
        <div class="menu-item-col-right">
          Romantique
        </div>
        <i class="icon ion-chevron-right menu-item-chevron"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/events/anniversaire" style="padding-left:16px;">
        <div class="menu-item-col-left">
          <img src="../img/export/IcoAnniv.png" class="menu-item-img"/>
        </div>
        <div class="menu-item-col-right">
          Anniversaire
        </div>
        <i class="icon ion-chevron-right menu-item-chevron"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/events/naissance" style="padding-left:16px;">
        <div class="menu-item-col-left">
          <img src="../img/export/IcoNaissance.png" class="menu-item-img" style="width: 15px;margin-left: 5px;margin-right: 5px;"/>
        </div>
        <div class="menu-item-col-right">
          Naissance
        </div>
        <i class="icon ion-chevron-right menu-item-chevron"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/events/deuil" style="padding-left:16px;">
        <div class="menu-item-col-left">
          <img src="../img/export/IcoDeuil.png" class="menu-item-img" style="width: 30px;margin-top: 2px;margin-right: -5px"/>
        </div>
        <div class="menu-item-col-right">
          Deuil
        </div>
        <i class="icon ion-chevron-right menu-item-chevron"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/events/remerciements" style="padding-left:16px;">
        <div class="menu-item-col-left">
          <img src="../img/export/IcoGift.png" class="menu-item-img"/>
        </div>
        <div class="menu-item-col-right">
          Remerciments
        </div>
        <i class="icon ion-chevron-right menu-item-chevron"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/events/felicitations" style="padding-left:16px;">
        <div class="menu-item-col-left">
          <img src="../img/export/IcoCongrats.png" class="menu-item-img"/>
        </div>
        <div class="menu-item-col-right">
          Félicitations
        </div>
        <i class="icon ion-chevron-right menu-item-chevron"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/events/retablissement" style="padding-left:16px;">
        <div class="menu-item-col-left">
          <img src="../img/export/IcoAmbulance.png" class="menu-item-img" style="width: 30px;margin-top: 2px;margin-right: -5px"/>
        </div>
        <div class="menu-item-col-right">
          Rétablissement
        </div>
        <i class="icon ion-chevron-right menu-item-chevron"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/app/events/location" style="padding-left:16px;">
        <div class="menu-item-col-left">
          <img src="../img/export/IcoFlower.png" class="menu-item-img"/>
        </div>
        <div class="menu-item-col-right">
          Location de plantes
        </div>
        <i class="icon ion-chevron-right menu-item-chevron"></i>
      </a>

      <!-- <a class="item item-icon-left item-icon-right" ng-click="test('prestige')">
        <i class="icon icon-dollar"></i>
        Prestige
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ng-click="test('fêtes')">
        <i class="icon icon-tree"></i>
        Fêtes de fin d'année
        <i class="icon ion-chevron-right"></i>
      </a> -->
    </div>
  </ion-content>
</ion-view>
