<ion-view>
  <ion-content>
    <div class="card">
      <div class="item item-divider amary">
        Amaryllis Fleurs
      </div>
      <div class="item item-text-wrap" style="font-size: 12px;">
        Depuis plus de 15 ans Amaryllis Fleurs, situé à 2 pas de la porte de Versailles, vous accueille avec son équipe professionnelle, afin de vous conseiller dans votre choix avec des produits frais de qualité et un grand choix de fleurs.
        <br><br>
        Amaryllis est l'histoire d'une passion, passion des fleurs, des essences rares, des compositions de fleurs fraîches alliant le raffinement aux formes saisonnières.
        <br><br>
        Livraison assurée tous les jours de 9h à 21h sur tout Paris et la banlieue proche. Transmission florale partout dans le monde avec Interflora.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider amary">
        Services
      </div>
      <div class="item item-text-wrap" style="font-size: 12px;">
        <ul>
          <li>Fleurs coupées</li>
          <li>Fleurs exotiques</li>
          <li>Compositions florales</li>
          <li>Plantes fleuries</li>
          <li>Plantes vertes</li>
          <li>Plantes exceptionnelles</li>
          <li>Evénementiels</li>
          <li>Bouquets composés</li>
          <li>Bouquets ronds</li>
          <li>Bouquets de mariée</li>
          <li>Bouquets linéaires</li>
          <li>Vases</li>
          <li>Décorations florales</li>
          <li>Location de plantes</li>
          <li>Abonnement</li>
          <li>Vente par correspondance</li>
          <li>Vente de plantes en gros</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
